$black: #2E2E2E;
$gray: #455B74;
$white: #ffffff;
$lightGray: #f8f9fa;
//$white: #f6f9ff;
$beige: #FEF7EC;
$yellow: #FEB958;
$orange: #FD6E50;
$pink: #E15A8C;
$purple: #5A5A95;
// - status colors
$statusRed: #FF3B30;
$statusYellow: #FFCC00;
$statusGreen: #34C759;
$statusBlue: #5AC8FA;

