// Fonts
$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$fontFamilyMonospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$fontFamilyHeadings: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

// Font sizes
$fontSizeXS: 0.75rem;
$fontSizeSM: 0.875rem;
$fontSizeMD: 1rem;
$fontSizeLG: 1.125rem;
$fontSizeXL: 1.25rem;

// Line Height
$lineHeightXS: 1.4;
$lineHeightSM: 1.45;
$lineHeightMD: 1.55;
$lineHeightLG: 1.6;
$lineHeightXL: 1.65;

// Spacing
$spacingXS: 0.625rem;
$spacingSM: 0.75rem;
$spacingMD: 1rem;
$spacingLG: 1.25rem;
$spacingXL: 2rem;