@import 'src/assets/styles/main';

.tabWrap {
  display: flex;
  align-items: center;
  .input {
    width: 200px;
    input {
      border-color: $pink;
      transition: all 0.25s ease;
    }
  }
  .button {
    width: 65px;
    margin-left: $spacingXS;
    background: $pink;
    transition: all 0.25s ease;
  }
  .icon {
    margin-left: $spacingSM;
    rotate: 45deg;
  }
  &.closed {
    .input {
      width: 0;
      padding: 0;
      input {
        width: 0;
        padding: 0;
        border: none;
      }
    }
    .button {
      width: 0;
      padding: 0;
      background: transparent;
      margin: 0;
      border: none;
    }
    .icon {
      margin-left: 0;
      rotate: 180deg;
      transition: all 0.25s ease;
    }
  }
}